python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.28
psycopg2-binary==2.9.9

Framework Web (FastAPI/Uvicorn/Gunicorn)
uvicorn==0.23.2
fastapi==0.115.0
gunicorn==22.0.0
python-multipart==0.0.9

Autenticación JWT y Hashing de Contraseñas
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.2.0

Servicios Externos
stripe==12.5.1
google-genai # SDK moderno de Gemini

Tipado (Para FastAPI/Pydantic)
typing-extensions==4.12.2
